<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="icon" type="image/x-icon" href="../static/img/Q.svg">
  <meta charset="UTF-8">
  <title>SuperCringe Panel</title>
  <link rel="stylesheet" href="../static/styles/style.css">

</head>
<body id="bounds">
    

    


<!-- partial:index.partial.html -->
<form autocomplete='off' action = "http://localhost:5000/login" method = "post" class='form' style="margin-top: 0em;">
  <div class='control' id="bounds">
<h1 style="text-align: center; font-size: 32px;">SuperCringe Admin Panel</h1>
<form autocomplete='off' action = "http://localhost:5000/login" method = "post" class='form'>
  <div class='control'>
    <h1>
      Login
    </h1>
    
  </div>
  <div class='control block-cube block-input'>
    <input name='username' placeholder='Uživatelské jméno' type='text' id="fname" >
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
  </div>
  <div class='control block-cube block-input'>
    <input name='password' placeholder='Heslo' type='password' id="lname">
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
  </div>
  <button class='btn block-cube block-cube-hover' type='submit' value="Submit">
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
      Log In
    </div>
  </button>
  <img src="../static/img/Q-lite.svg"> </img>
</form>
<!-- partial -->
  
</body>
</html>
