<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="icon" type="image/x-icon" href="../static/img/Q.svg">
  <meta charset="UTF-8">
  <title>PlajtaCorp Panel</title>
  <link rel="stylesheet" href="../static/styles/style.css">

</head>
<body id="bounds">
    
    <img src="../static/img/Q-lite.svg"> </img>
    


<!-- partial:index.partial.html -->
<form autocomplete='off' action = "http://localhost:5000/user_post" method = "post" class='form'>
  <div class='control' id="bounds">
    <h1>
      Registruj se do fronty!
    </h1>
    
  </div>
  <div class='control block-cube block-input'>
    <input name='username' placeholder='Uživatelské jméno' type='text' id="fname" >
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
  </div>
  <button class='btn block-cube block-cube-hover' type='submit' value="Submit">
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
      Register
    </div>
  </button>
 
</form>
<!-- partial -->
  
</body>
</html>